In [2]:
#Dependencies
import gmaps
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from scipy.stats import linregress

# Google developer API key
from config import gkey

# Access maps with unique API key
gmaps.configure(api_key=gkey)

In [5]:
# The path to our bus stop locations CSV file
locations_file = "Resources/stops.csv"

# Read our file data into pandas
locations_df = pd.read_csv(locations_file)
locations_df.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
0,1.0,NaN,COLUMBUS ST & BROADWAY,NaN,41.392985,-81.536518,NaN,NaN,0,NaN
1,2.0,NaN,10800 BROOKPARK RD (HOME DEPOT),NaN,41.418571,-81.760947,NaN,NaN,0,NaN
2,4.0,NaN,EUCLID AV & E 100TH ST,NaN,41.503697,-81.618108,NaN,NaN,0,NaN
3,5.0,NaN,10081 W RIDGEWOOD DR,NaN,41.384506,-81.756317,NaN,NaN,0,NaN
4,14.0,NaN,PROSPECT AV & ONTARIO ST,NaN,41.498030,-81.692012,NaN,NaN,0,NaN

In [17]:
# The path to our bus stop times CSV file
stops_file = "Resources/stop_times.csv"

# Read our file data into pandas
stops_df = pd.read_csv(stops_file)
stops_df.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type
0,16741667,3:21:00 AM,3:21:00 AM,14507,1,0,0
1,16741667,3:22:00 AM,3:22:00 AM,4568,2,0,0
2,16741667,3:23:00 AM,3:23:00 AM,4522,3,0,0
3,16741667,3:24:00 AM,3:24:00 AM,4378,4,0,0
4,16741667,3:25:00 AM,3:25:00 AM,4556,5,0,0

In [7]:
# merge
bus_data = pd.merge(locations_df, stops_df, on=["stop_id", "stop_id"])
bus_data.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,trip_id,arrival_time,departure_time,stop_sequence,pickup_type,drop_off_type
0,1.0,NaN,COLUMBUS ST & BROADWAY,NaN,41.392985,-81.536518,NaN,NaN,0,NaN,16741990,5:54:00 AM,5:54:00 AM,82,0,0
1,1.0,NaN,COLUMBUS ST & BROADWAY,NaN,41.392985,-81.536518,NaN,NaN,0,NaN,16741993,6:54:00 AM,6:54:00 AM,82,0,0
2,1.0,NaN,COLUMBUS ST & BROADWAY,NaN,41.392985,-81.536518,NaN,NaN,0,NaN,16741995,7:25:00 AM,7:25:00 AM,82,0,0
3,1.0,NaN,COLUMBUS ST & BROADWAY,NaN,41.392985,-81.536518,NaN,NaN,0,NaN,16741997,7:57:00 AM,7:57:00 AM,82,0,0
4,1.0,NaN,COLUMBUS ST & BROADWAY,NaN,41.392985,-81.536518,NaN,NaN,0,NaN,16741999,8:28:00 AM,8:28:00 AM,82,0,0

In [8]:
#groupby stop id to see how many stops 
numberstops = bus_data.groupby(['stop_id', 'stop_lat', 'stop_lon'])['arrival_time'].nunique()
numberstops

stop_id  stop_lat   stop_lon
1.0      41.392985  -81.536518     63
2.0      41.418571  -81.760947     72
4.0      41.503697  -81.618108    241
5.0      41.384506  -81.756317    108
14.0     41.498030  -81.692012    370
                                 ...
50001.0  41.500290  -81.691917    492
60001.0  41.500764  -81.682781    172
60002.0  41.500256  -81.686436    166
60003.0  41.499918  -81.688906    166
60004.0  41.499515  -81.691994    161
Name: arrival_time, Length: 5799, dtype: int64

In [9]:
# merge stops with lat and long

In [10]:
# Store lat and long
locations = locations_df[['stop_lat','stop_lon']]

In [11]:
# Plot Heatmap
fig_heat = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, dissipating=False, max_intensity=2, point_radius=.0025)
fig_heat.add_layer(heat_layer)
fig_heat

Figure(layout=FigureLayout(height='420px'))

In [12]:
# plot locations
fig_mark = gmaps.figure()
# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations)
# Add the layer to the map
fig_mark.add_layer(markers)
fig_mark

Figure(layout=FigureLayout(height='420px'))