In [1]:
#Dependencies
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [7]:
#Import stop times data
stoptime_file = "Resources/stop_times.csv"
stops_file = "Resources/stops.csv"
stoptimes_df = pd.read_csv(stoptime_file)
stops_df = pd.read_csv(stops_file)

In [8]:
#Merge dataframes
combined_df = pd.merge(stoptimes_df,stops_df,on="stop_id")
combined_df.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
0,16741667,3:21:00 AM,3:21:00 AM,14507,1,0,0,NaN,STOKES-WINDERMERE STATION BUS STOP #3,NaN,41.530769,-81.584102,NaN,NaN,0,NaN
1,16741668,3:29:00 AM,3:29:00 AM,14507,66,0,0,NaN,STOKES-WINDERMERE STATION BUS STOP #3,NaN,41.530769,-81.584102,NaN,NaN,0,NaN
2,16741669,3:51:00 AM,3:51:00 AM,14507,1,0,0,NaN,STOKES-WINDERMERE STATION BUS STOP #3,NaN,41.530769,-81.584102,NaN,NaN,0,NaN
3,16741670,5:35:00 AM,5:35:00 AM,14507,66,0,0,NaN,STOKES-WINDERMERE STATION BUS STOP #3,NaN,41.530769,-81.584102,NaN,NaN,0,NaN
4,16741671,5:05:00 AM,5:05:00 AM,14507,66,0,0,NaN,STOKES-WINDERMERE STATION BUS STOP #3,NaN,41.530769,-81.584102,NaN,NaN,0,NaN

In [6]:
#stopid_group = stoptimes_df.groupby(["stop_id"]).count()
#stopid_group.head()

,trip_id,arrival_time,departure_time,stop_sequence,pickup_type,drop_off_type
stop_id,,,,,,
1,110,110,110,110,110,110
2,180,173,173,180,180,180
4,519,477,477,519,519,519
5,299,283,283,299,299,299
14,987,950,950,987,987,987